<tr>
    <td align="center" bgcolor="#220050" style="Margin:0;padding-bottom:5px;padding-top:25px;padding-left:25px;padding-right:25px">
        <!--[if mso]><a href="<%- getRealityQuestionLink(notification) %>" target="_blank" hidden>
<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" esdevVmlButton href="<%- getRealityQuestionLink(notification) %>"
style="height:39px; v-text-anchor:middle; width:198px" arcsize="8%" stroke="f"  fillcolor="#6cc5ff">
<w:anchorlock></w:anchorlock>
<center style='color:#1b003f; font-family:"open sans", "helvetica neue", helvetica, arial, sans-serif; font-size:14px; font-weight:400; line-height:14px;  mso-text-raise:1px'>Reality Question</center>
</v:roundrect></a>
<![endif]-->
        <!--[if !mso]><!-- -->
          <span class="msohide es-button-border-1685481741719 es-button-border" style="border-style:solid;border-color:#ffffff;background:#6cc5ff;border-width:0px;display:inline-block;border-radius:3px;width:auto;mso-hide:all">
            <a href="<%- getRealityQuestionLink(notification) %>" class="es-button es-button-1685481741701" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#1b003f;font-size:16px;display:inline-block;background:#6cc5ff;border-radius:3px;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;font-weight:normal;font-style:normal;line-height:19.2px;width:auto;text-align:center;padding:10px 25px;mso-padding-alt:0;mso-border-alt:10px solid #6cc5ff">
              <img src="https://cdn.kleros.link/ipfs/QmQAFr3mbeow62CCG8MG2pmw8VBhF3frkn5Ey3CE23Jdd4" alt="icon" width="16" style="display:inline-block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;vertical-align:middle;margin-right:10px" align="absmiddle">
              Reality Question
            </a>
          </span>
        <!--<![endif]-->
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#220050" style="Margin:0;padding-bottom:5px;padding-top:10px;padding-left:25px;padding-right:25px">
        <!--[if mso]><a href="<%- getSnapshotProposalLink(notification) %>" target="_blank" hidden>
<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" esdevVmlButton href="<%- getSnapshotProposalLink(notification) %>"
style="height:39px; v-text-anchor:middle; width:216px" arcsize="8%" stroke="f"  fillcolor="#6cc5ff">
<w:anchorlock></w:anchorlock>
<center style='color:#1b003f; font-family:"open sans", "helvetica neue", helvetica, arial, sans-serif; font-size:14px; font-weight:400; line-height:14px;  mso-text-raise:1px'>Snapshot Proposal</center>
</v:roundrect></a>
<![endif]-->
        <!--[if !mso]><!-- -->
          <span class="msohide es-button-border-1725918843883 es-button-border" style="border-style:solid;border-color:#ffffff;background:#6cc5ff;border-width:0px;display:inline-block;border-radius:3px;width:auto;mso-hide:all">
            <a href="<%- getSnapshotProposalLink(notification) %>" class="es-button es-button-1725918843883" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#1b003f;font-size:16px;display:inline-block;background:#6cc5ff;border-radius:3px;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;font-weight:normal;font-style:normal;line-height:19.2px;width:auto;text-align:center;padding:10px 25px;mso-padding-alt:0;mso-border-alt:10px solid #6cc5ff">
              <img src="https://cdn.kleros.link/ipfs/QmaQ8ZbkPWfd9rXKoZRRovSbxGJobPwkK18n72VqdjG2FN" alt="icon" width="16" style="display:inline-block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;vertical-align:middle;margin-right:10px" align="absmiddle">
              Snapshot Proposal
            </a>
          </span>
        <!--<![endif]-->
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#220050" style="Margin:0;padding-top:10px;padding-bottom:25px;padding-left:25px;padding-right:25px">
        <!--[if mso]><a href="https://etherscan.io/tx/<%- notification.event.txHash %>" target="_blank" hidden>
<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" esdevVmlButton href="https://etherscan.io/tx/<%- notification.event.txHash %>"
style="height:39px; v-text-anchor:middle; width:164px" arcsize="8%" stroke="f"  fillcolor="#6cc5ff">
<w:anchorlock></w:anchorlock>
<center style='color:#1b003f; font-family:"open sans", "helvetica neue", helvetica, arial, sans-serif; font-size:14px; font-weight:400; line-height:14px;  mso-text-raise:1px'>Transaction</center>
</v:roundrect></a>
<![endif]-->
        <!--[if !mso]><!-- -->
          <span class="msohide es-button-border-1725918846526 es-button-border" style="border-style:solid;border-color:#ffffff;background:#6cc5ff;border-width:0px;display:inline-block;border-radius:3px;width:auto;mso-hide:all">
            <a href="https://etherscan.io/tx/<%- notification.event.txHash %>" class="es-button es-button-1725918846526" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#1b003f;font-size:16px;display:inline-block;background:#6cc5ff;border-radius:3px;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;font-weight:normal;font-style:normal;line-height:19.2px;width:auto;text-align:center;padding:10px 25px;mso-padding-alt:0;mso-border-alt:10px solid #6cc5ff">
              <img src="https://cdn.kleros.link/ipfs/QmarBWXNfvzViPoRGqymUUREF4jMHFNnQa79x6M3gCNEB9" alt="icon" width="16" style="display:inline-block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;vertical-align:middle;margin-right:10px" align="absmiddle">
              Transaction
            </a>
          </span>
        <!--<![endif]-->
    </td>
</tr>