<!doctype html>
<html>
  <head>
    <title>New Reality Answer</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
      }
      .container {
        width: 80%;
        margin: auto;
        padding: 20px;
      }
      .header {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
      }
      .content {
        margin: 20px 0;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
      }
      .footer {
        margin-top: 20px;
        text-align: center;
        font-size: 0.9em;
        color: #555;
      }
      .code {
        font-family: "Courier New", Courier, monospace;
        background-color: #f4f4f4;
        padding: 1px;
        border-radius: 5px;
      }
      p.links {
        display: flex; 
        justify-content: space-evenly;
        gap: 20px; 
        width: 100%;
      }
      img {
        vertical-align: middle; 
        margin-right: 5px;
        width: 24px;
      }
      h3 {
        margin-block-start: 1em;
        margin-block-end: -0.5em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>💰 New Reality Answer!</h1>
      </div>
      <div class="content">
        <p>Hey there,</p>
        <p>A new Reality answer has been submitted for a Snapshot proposal in the space <b><%- notification.space.ens %></b>.</p>
        <p class="links">
          <a href="<%- getRealityQuestionLink(notification) %>"><img src="https://cdn.kleros.link/ipfs/QmQAFr3mbeow62CCG8MG2pmw8VBhF3frkn5Ey3CE23Jdd4" alt="Reality" />Reality Question</a>
          <a href="<%- getSnapshotProposalLink(notification) %>"><img src="https://cdn.kleros.link/ipfs/QmaQ8ZbkPWfd9rXKoZRRovSbxGJobPwkK18n72VqdjG2FN" alt="Snapshot" />Snapshot Proposal</a>
          <a href="https://etherscan.io/tx/<%- notification.event.txHash %>"><img src="https://cdn.kleros.link/ipfs/QmarBWXNfvzViPoRGqymUUREF4jMHFNnQa79x6M3gCNEB9" alt="Etherscan" />Transaction</a>
        </p>
        <h3>Details</h3>
        <p>
          Question ID: <span class="code"><%- notification.event.questionId %></span><br/>
          Answer: <span class="code"><%- formatAnswer(notification.event.answer) %></span><br/>
          Bond: <span class="code"><%- formatWei(notification.event.bond) %></span><br/>
          Submitted by: <span class="code"><%- notification.event.user %></span><br/>
      </div>
      <div class="footer">
        <p>Best regards,<br />Kleros Zodiac Notifications Bot</p>
      </div>
    </div>
  </body>
</html>